/*  your css code here. If applicable */

body {
    margin: 0;
    padding: 0;
    background: #b26cd3;
    font-family: Arial, sans-serif;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 180px;
}

.btn, .stop {
    background: #642d91;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
   
}


